<a href="https://colab.research.google.com/github/chetnashahi/100-Days-Of-ML-Code/blob/master/DPhi_Assignment_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd 
url = 'https://drive.google.com/file/d/1QcKzIJlO6WRUH4IkrKAvDmBVEipXkeQb/view?usp=sharing'

path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]

data = pd.read_csv(path)

In [11]:
pd.options.display.float_format = '{:,.4f}'.format

In [14]:
data.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'PULocationID', 'DOLocationID', 'fare_amount'],
      dtype='object')

In [55]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1243241 entries, 0 to 1243240
Data columns (total 7 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   VendorID               1227632 non-null  float64
 1   tpep_pickup_datetime   1243241 non-null  object
 2   tpep_dropoff_datetime  1243241 non-null  object
 3   passenger_count        1227632 non-null  float64
 4   PULocationID           1243241 non-null  int64
 5   DOLocationID           1243241 non-null  int64
 6   fare_amount            1243241 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 66.4+ MB

In [35]:
data.describe()

            VendorID  passenger_count  ...   DOLocationID    fare_amount
count 1,227,632.0000   1,227,632.0000  ... 1,243,241.0000 1,243,241.0000
mean          1.6768           1.5687  ...       160.7467        13.0298
std           0.4677           1.1818  ...        70.9818        12.9396
min           1.0000           0.0000  ...         1.0000    -1,238.0000
25%           1.0000           1.0000  ...       107.0000         6.0000
50%           2.0000           1.0000  ...       162.0000         9.0000
75%           2.0000           2.0000  ...       233.0000        14.0000
max           2.0000           9.0000  ...       265.0000     1,238.0000

[8 rows x 5 columns]

In [75]:
#5
data3=    data[((data['VendorID']==2.0000) &(data['fare_amount']< 13.0298) &  (data['passenger_count']> 5.0))]
data3['PickUpDate'] = pd.to_datetime(data3['tpep_pickup_datetime']) 
data3['PickUpdayOfWeek'] = data3['PickUpDate'].dt.day_name()

data3['DropOfDate'] = pd.to_datetime(data3['tpep_dropoff_datetime']) 
data3['DropOfdayOfWeek'] = data3['DropOfDate'].dt.day_name()

data5= data3.value_counts(['PickUpdayOfWeek'])
data5.sort_values()

data6= data3.value_counts(['DropOfdayOfWeek'])
data6.sort_values()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

DropOfdayOfWeek
Sunday             2505
Thursday           2618
Wednesday          2628
Monday             2663
Friday             2895
Tuesday            3062
Saturday           3072
dtype: int64

In [ ]:
data.unique()

In [49]:
pd.unique(data['passenger_count'])

array([ 1.,  2.,  3.,  6.,  4.,  5.,  0.,  8.,  7.,  9., nan])

In [31]:
#3
t=data.groupby(['PULocationID']).count()
data1= data.value_counts(['PULocationID'])
data1.sort_values().tail()

PULocationID
186             44809
236             48450
161             49558
237             52055
132             53790
dtype: int64

In [86]:
data_new1= data.copy()
data_new1['passenger_count'].fillna(data_new1['passenger_count'].median(), inplace= True)
data_new1.median()

VendorID            2.0000
passenger_count     1.0000
PULocationID      161.0000
DOLocationID      162.0000
fare_amount         9.0000
dtype: float64

In [85]:
data.isnull().sum()

VendorID                 15609
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          15609
PULocationID                 0
DOLocationID                 0
fare_amount                  0
dtype: int64

In [88]:
data_new1.median()

VendorID            2.0000
passenger_count     1.0000
PULocationID      161.0000
DOLocationID      162.0000
fare_amount         9.0000
dtype: float64

In [89]:
data.median()

VendorID            2.0000
passenger_count     1.0000
PULocationID      161.0000
DOLocationID      162.0000
fare_amount         9.0000
dtype: float64

In [91]:
data['passenger_count'].value_counts()

1.0000    847452
2.0000    200439
3.0000     56019
5.0000     45092
4.0000     31127
6.0000     26542
0.0000     20939
7.0000        11
8.0000         6
9.0000         5
Name: passenger_count, dtype: int64

In [92]:
data_new2= data.copy()
data_new2['passenger_count'].fillna(847452, inplace= True)
data_new2.median()

VendorID            2.0000
passenger_count     1.0000
PULocationID      161.0000
DOLocationID      162.0000
fare_amount         9.0000
dtype: float64

In [96]:
#4
data['PickUpDate'] = pd.to_datetime(data['tpep_pickup_datetime']) 
data['PickUpdayOfWeek'] = data['PickUpDate'].dt.day_name()

data['DropOfDate'] = pd.to_datetime(data['tpep_dropoff_datetime']) 
data['DropOfdayOfWeek'] = data['DropOfDate'].dt.day_name()

data5= data.value_counts(['PickUpdayOfWeek'])
data5.sort_values()

data7= data.value_counts(['DropOfdayOfWeek'])
data7.sort_values()

DropOfdayOfWeek
Thursday           162053
Sunday             165612
Wednesday          169470
Monday             179696
Saturday           182314
Friday             182810
Tuesday            201286
dtype: int64

In [110]:
import numpy as np
data['date4'] =np.where(data['DropOfDate'].dt.date== data['PickUpDate'].dt.date ,0,1)
data22=data[data['date4']==1]
data22

         VendorID tpep_pickup_datetime  ... DropOfdayOfWeek  date4
1114       2.0000  2020-01-01 00:30:07  ...        Thursday      1
1473       2.0000  2020-01-01 00:53:40  ...        Thursday      1
1874       2.0000  2020-01-01 00:38:39  ...        Thursday      1
2664       2.0000  2020-01-01 00:13:41  ...        Thursday      1
3256       2.0000  2020-01-01 00:28:27  ...        Thursday      1
...           ...                  ...  ...             ...    ...
1242861       nan  2020-01-07 23:59:00  ...       Wednesday      1
1242864       nan  2020-01-07 23:54:00  ...       Wednesday      1
1242865       nan  2020-01-07 23:54:00  ...       Wednesday      1
1242878       nan  2020-01-07 23:56:00  ...       Wednesday      1
1242879       nan  2020-01-07 23:56:00  ...       Wednesday      1

[10547 rows x 12 columns]